[submodule "tools"]
	path = tools
	url = https://github.com/Choimoe/open-mdp.git
[submodule "data"]
	path = data
	url = https://github.com/Neskol/Maichart-Converts.git
[submodule "info"]
	path = info
	url = https://github.com/Becods/maimaiDX-songs.git
